; -*- mode: clojure; -*-
; vim: filetype=clojure

(let [host "0.0.0.0"]
  (tcp-server {:host host})

  ; Here's where we configure our metric handling
  (streams
        ; When a service starts with "error_rate" 
        (where (service #"^error rate")  
        
        ; print it
        #(info (:service %) "=" (:metric %))
  ))


  (streams
        prn
  )
)
