; -*- mode: clojure; -*-
; vim: filetype=clojure

(let [host "0.0.0.0"]
  (tcp-server {:host host})

  ; Here's where we configure our metric handling
  (streams
        (where (and
                (not (tagged "riemann"))
                (not (service #"^riemann.*")))
        
        ; print it
        prn
  ))

)
